__pycache__/
*.py[cod]
*.log
*.npy
*.npz
*.pt
*.onnx

.venv/
venv/

runs/
logs/
checkpoints/

.vscode/
.history/

.devcontainer/.python-version
.devcontainer/.mypy_cache/
.devcontainer/.pytest_cache/

.ipynb_checkpoints/
.env
.env.*
.DS_Store
Thumbs.db

build/
dist/
*.egg-info/

.local/